<% provide(:title, @user.name) %>
  <ul class="user" style="z-index: 1; float: right;">
    <li><%= link_to "Home", '/' %></li>
    <li><%= link_to "Users", '#' %></li>
    <% if signed_in? %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", '#' %></li>
        <li><%= link_to "Sign out", signout_path, :method => "delete" %></li>
    <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>

<div class="slide" id="slide2" data-slide="2"  data-stellar-background-ratio=".5" data-stellar-offset-parent="true">
  <div class="wrapper">
      <img style="position: absolute;" src="https://sphotos-b.xx.fbcdn.net/hphotos-snc7/406303_3606275035326_1371904265_n.jpg">
      <div class="info">
          <h1>
            <%= @user.name %>
          </h1>
          <h2>301 baseball</h2>
          <h3>oberlin yeomen</h3>
          <h3>pitcher</h3>

        <h2 style="position: relative; top: 50px;">
          <%= @user.email %>
        </h2>
      </div>
  </div>

  <a class="button" data-slide="2" title=""></a>

</div><!--End Slide 1-->

